<%= simple_form_for @availability, data: { controller: 'flatpickr' } do |f| %>
  <%= f.input :start_time, as: :string, label: false, required: true, input_html: {multiple: true, name: 'availability[start_time][]', data: { flatpickr_target: "startDateTime" }} %>


  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to 'Cancel', authenticated_root_path, class: "btn btn-secondary" %>
  </div>
<% end %>
